<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.bobsbuilders.socialsaver" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="edu.gatech.bobsbuilders.socialsaver.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="edu.gatech.bobsbuilders.socialsaver.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".DispatchActivity"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".Deals"
            android:label="Deals" >
        </activity>
        <activity
            android:name=".SignUpUser"
            android:label="@string/title_activity_sign_up_user" >
        </activity>
        <activity
            android:name=".SecondPage"
            android:label="@string/title_activity_second_page" >
        </activity>
        <activity
            android:name=".Friends"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name=".FindFriends"
            android:label="@string/title_activity_find_friends" >
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".FriendsList"
            android:label="Friends" >
        </activity>
        <activity
            android:name=".FriendsMoreInfo"
            android:label="Find Friends" >
        </activity>
        <activity
            android:name=".FriendsAdapter"
            android:label="@string/title_activity_friends_adapter" >
        </activity>
        <activity
            android:name=".SingleFriendView"
            android:label="View Friend" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="edu.gatech.bobsbuilders.socialsaver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CurrentDealsMoreInfo"
            android:label="@string/title_activity_current_deals_more_info" >
        </activity>
        <activity
            android:name=".DealsAdapter"
            android:label="@string/title_activity_deals_adapter" >
        </activity>
        <activity
            android:name=".WantedDealsMoreInfo"
            android:label="@string/title_activity_wanted_deals_more_info" >
        </activity>
        <activity
            android:name=".WantedDealsAdapter"
            android:label="@string/title_activity_wanted_deals_adapter" >
        </activity>
    </application>

</manifest>
